:root {
    --primary-color: #FFB703;
    --secondary-color: #023047;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #444;
    max-width: 100vw;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
    transition: color .4s;
}

a:hover {
    color: var(--primary-color);
}

header #pre-header {
    color: #c0c3d0;
    transition: color .4s;
    padding: 15px;
    background-color: #333;
    font-size: 0.9rem;
    font-weight: 400;
}

header #pre-header i {
    margin-right: 5px;
}

header #pre-header .phone {
    margin-right: 20px;
}

header nav {
    padding: 20px 25px;
    position: fixed;
    width: 100%;
    color: #f9f9f9;
    z-index: 5;
    transition: all .3s;
}

header nav.sticky {
    top: 0;
    background-color: #fff;
    color: #444;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    animation: fadeInDown 1s forwards;
}

header nav h1.brand-name {
    font-size: 1.5rem;
    margin: 0;
    vertical-align: middle;
}

header nav .menu-list {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: flex-end;
}

header nav .menu-list li {
    margin-right: 20px;
}

header nav .menu-list li:last-child {
    margin-right: 0;
}

header nav .menu-list li a {
    display: block;
    text-transform: uppercase;
    font-size: .95rem;
}

#slider-hero .item {
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 2.5rem;
}

#slider-hero .item::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,.65);
    z-index: 4;
}

#slider-hero .item .content {
    z-index: 5;
    color: #fff;
    max-width: 35vw;
}

#slider-hero .item .content h2{
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 900;
}

section.section {
    padding: 80px 0;
}

h4.title-tag {
    font-size: 1.15rem;
    font-weight: 700;
}

h2.title-main, h4.title-tag {
    color: var(--secondary-color);
    text-transform: uppercase;
    text-align: center;
}

h2.title-main {
    font-weight: 900;
    margin-bottom: 60px;
}

h2.title-main .circle-bottom {
    display: inline-block;
    margin: auto;
    width: 15px;
    height: 15px;
    background-color: var(--primary-color);
    border-radius: 50%;
    position: relative;
}

h2.title-main .circle-bottom::before,  
h2.title-main .circle-bottom::after
{
    content: "";
    width: 150px;
    height: 5px;
    border: 2px dotted var(--primary-color);
    display: inline-block;
    position: absolute;
    top: 5px;
}

h2.title-main .circle-bottom::before {
    right: 40px;
    
}

h2.title-main .circle-bottom::after {
    left: 40px;
}

p.about-content {
    font-size: .95rem;
    line-height: 1.8;
    color: #555;
    font-weight: 300;
}

span.highlight-text {
    color: #333;
    padding: 5px;
    background: #fbc1307d;
    border-radius: 4px;
    font-weight: 600;
}

#our-services, 
#products,
#contact-us {
    background-color: #f9f9f9;
}

.box {
    border-radius: 12px;
    overflow: hidden;
    transition: all .3s;
}

.box:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.box .box-image {
    height: 300px;
    border-radius: 12px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    padding: 15px;
    position: relative;
    align-items: flex-end;
    overflow: hidden;
    cursor: pointer;
    box-shadow: none;
    transition: all .3s;
}

.box .box-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.65);
    z-index: 2;
    visibility: hidden;
}

.box .box-image:hover::before {
    visibility: visible;
}

.box .box-image:hover .box-title {
    display: block;
    animation: fadeInUp 1s;
}

.box .box-image .box-title {
    display: none;
    z-index: 3;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
}


.bgc-primary {
    background-color: var(--primary-color);
}

#why-choose-bg {
    background-image: linear-gradient(#ffb7039c, #ffb7039c, #ffb7039c), url(../img/why_choose_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.box-padding {
    padding: 60px;
    min-height: 350px;
}

/* .dots-pattern {
    width: 100px;
    height: 80px;
    background-image: radial-gradient(circle, #fff 20%, transparent 10%), radial-gradient(circle, #fff 20%, transparent 10%);
    background-size: 25px 25px;
    background-position: 0px 0px, 0px 0px;
} */
.dots-pattern  div{
    display: flex;
}

.dots-pattern i {
    color: #f5f5f5;
    line-height: 1;
    padding: 5px;
    font-size: .56rem;
}

.dots-pattern div i:first-child {
    padding-left: 0;
}

h2.title-main-side {
    margin-top: 15px;
    text-transform: uppercase;
    font-weight: 900;
}

ul.choose-us-list {
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 2.5;
}

ul.choose-us-list * {
    transition: all .15s;
}

ul.choose-us-list li:hover{
    font-size: 1.5rem;
    cursor: pointer;
}
ul.choose-us-list li:hover span{
    color: var(--primary-color);
}

ul.choose-us-list li:hover i {
    color: var(--secondary-color);
}

ul.choose-us-list li i {
    margin-right: 10px;
}

/**************************************************
| Products
**************************************************/
.loading, .no-data {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.5rem;
}

.no-data {
    font-size: 2rem;
}

.product {
    text-align: center;
    background-color: #fff;
    transition: all .3s;
    width: calc(25% - 20px) !important;
    margin: 10px;
}

.product:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.product .product-image {
    height: 290px;
    overflow: hidden;
    display: flex;
}

.product .product-image img {
    width: 100%;
    object-fit: cover;
}

.product .product-details {
    padding: 10px;
}

.product .product-details .product-title {
    font-size: .85rem;
}

span.old-price {
    color: #999;
    font-size: .90rem;
    text-decoration: line-through;
}

span.special {
    color: var(--primary-color);
}

/**************************************************
| Brands
**************************************************/
#brands-slider .item {
    padding: 15px;
    text-align: center;
}


/**************************************************
| Contact
**************************************************/
.title-left .title-tag,
.title-left .title-main {
    text-align: left;
}


.person {
    display: flex;
}

.person .person-photo {
    flex: 1;
    padding-right: 15px;
}

.person .person-photo img {
    max-width: 100%;
    border-radius: 15px;
}

.person .person-data {
    flex: 3;
}

.contact-info ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.contact-info ul li:not(:last-child) {
    margin-bottom: 10px;
}

.contact-info ul li i {
    display: inline-block;
    text-align: center;
    width: 45px;
    height: 45px;
    line-height: 45px;
    background-color: #ffeec4;
    font-size: 20px;
    border-radius: 50%;
}

.contact-info ul li span {
    margin-left: 10px;
}

footer {
    background-color: var(--secondary-color);
    padding: 25px 0;
    color: #f9f9f9;
    font-size: .90rem;
    font-weight: 300;
}

footer .logo {
    margin-bottom: 15px;
}